@media screen and (max-width: 1280px) {
  #product-page-2-heading1 {
    font-size: 18px;
  }
  #product-page-2 {
    font-size: 13px;
  }
  #product-page-2 .offers .child-offers {
    height: 7.5rem;
  }
  #sponser h3 {
    font-size: 17px;
  }

  #product-page-1 #demo-product-image {
    width: 20rem;
    height: 27rem;
  }
  #product-page-3 {
    font-size: 14px;
  }
  #product-page-3 p {
    font-size: 14px;
  }
  .remo{
    left: 1rem;
  }
}

@media screen and (max-width: 1125px) {
  #product-page-1 #demo-product-image {
    width: 15rem;
    height: 31rem;
  }
  #product-page-1 {
    width: 35%;
  }
  #product-page-2-heading1 {
    font-size: 15px;
  }
  #product-page-2 {
    font-size: 13px;
    width: 40%;
  }
  #product-page-3 {
    height: 43%;
  }
}
@media screen and (max-width: 1000px) {
  #product-page-3 {
    display: none;
    width: 98%;
    margin: 1rem 0;
  }
  #product-page {
    overflow-y: scroll;
    height: 31rem;
    flex-direction: column;
    align-items: center;
  }
  #product-page-1 #demo-product-image {
    width: 18rem;
    height: 23rem;
}
  #product-page-1 {
    height: 104%;
  }
  #product-page-2 {
    font-size: 13px;
    width: 57%;
  }
  #product-page-2 {
    font-size: 13px;
    width: 92%;
  }
  #product-page-2-heading1 {
    font-size: 29px;
  }
  #product-topBar .cmon {
    font-size: 14px;
  }
  #product-topBar .barImg2 {
    width: 5rem;
  }
  #addToCart {
    width: 70%;
  }
  #buyNow {
    width: 70%;
  }
}

@media screen and (max-width: 450px) {
  #product-topBar .barImg2 {
    display: none;
  }
  #product-topBar .cmon {
    font-size: 10px;
  }
  #product-page-2 {
    font-size: 13px;
    width: 90%;
  }
  #product-page-2-heading1 {
    font-size: 13px;
  }
  .child-offers-paraOne {
    font-size: 12px;
  }
  .child-offers-heading {
    margin: 7px 0;
    font-size: 12px;
  }
  #product-page {
    flex-direction: column;
    align-items: center;
    justify-content: unset;
  }
  #product-page-1 #demo-product-image {
    width: 13rem;
    height: 16rem;
  }
  #sponser h3 {
    font-size: 13px;
  }
  #footer {
    height: 22rem;
  }
  .sub-footer .ulist1 {
    padding-left: 11px;
  }
  .sub-footer .ulist1 h3 {
    font-size: 10px;
  }
  #footer .sub-footer ul li {
    font-size: 11px;
  }
  #bottom-div #sub-bottom2 {
    padding-top: 33px;
  }
  #bottom-div #sub-bottom {
    margin-left: 1rem;
  }
}
